{% extends "metadata/layout.html" %}
{% block content %}
{% include "metadata/manu.html" %}
{% include "metadata/upload_folder.html" %}

<div class="container">
  <div class="row">
    {% include "metadata/select_exp.html" %}
    <form action="{{url_for('metadata.create_metadata')}}" method="POST">
      <input type="hidden" value="" id="selected_exp" name="selected_exp" />
      <div class="col-12 md-col-12">
        <!-- Embargo date -->
        <div class="form-check">
          <label class="col-2 col-form-label control-label required" for="EndEmbargo">End of Embargo Date</label>
          <div>
            <input class="form-control" type="date" placeholder="DD-MM-YYYY" id="EndEmbargo" name="EndEmbargo" required>
            <span class="help-block">Default: 18 months after acquisition date</span>
          </div>
        </div>
        <!-- Data Publication -->
        <b>Data Publication?</b>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="DataPublication" id="immediately_public"
            value="immediately_public">
          <label class="form-check-label" for="immediately_public">Immediately Public</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="DataPublication" id="public_on_embargo"
            value="public_on_embargo">
          <label class="form-check-label" for="public_on_embargo">Publication on end of embargo date (18 months after
            acquisition)</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="DataPublication" id="private" value="private">
          <label class="form-check-label" for="private">Private</label>
        </div>
      </div>
      <!-- Left side -->
      <div class="form-group col-md-6 col-12">
        <!-- Global handling and safety considerations -->
        <h3><u><strong>1. Sample</strong></u></h3>
        {% include "metadata/form_global_considerations.html" %}

        <!-- Specific considerations -->
        <h4><strong><u> Specific considerations according to the type of sample </u></strong></h4>
        {% include "metadata/form_specific_considerations.html" %}
      </div>
      <div class="form-group col-md-6 col-12">
        <H3><U><strong>2. Global Set-Up</strong></U></H3>
        <div class="form-group">
          <label class="control-label required" for="SetUpMethod">Set-up?</label>
          <div class="radio-inline">
            <label for="DirectInjection">
              <input type="radio" name="SetUpMethod" id="DirectInjection" value="DirectInjection"
                {% if "DirectInjection"==param.SetUpMethod %} checked="checked" {% endif %} required>
              Direct Injection
            </label>
          </div>
          <div class="radio-inline">
            <label for="Chromatography">
              <input type="radio" name="SetUpMethod" id="Chromatography" value="Chromatography"
                {% if "Chromatography"==param.SetUpMethod %} checked="checked" {% endif %} required>
              Chromatography (LC/GC)
            </label>
          </div>
          <div class="radio-inline">
            <label for="Imaging">
              <input type="radio" name="SetUpMethod" id="Imaging" value="Imaging" {% if "Imaging"==param.SetUpMethod %}
                checked="checked" {% endif %} required>
              Imaging
            </label>
          </div>
          <div class="radio-inline">
            <label for="CLIO">
              <input type="radio" name="SetUpMethod" id="CLIO" value="CLIO" {% if "CLIO"==param.SetUpMethod %}
                checked="checked" {% endif %} required>
              CLIO Laser
            </label>
          </div>
          <div class="radio-inline">
            <label for="2DMS">
              <input type="radio" name="SetUpMethod" id="2DMS" value="2DMS" {% if "2DMS"==param.SetUpMethod %}
                checked="checked" {% endif %} required>
              2D-MS
            </label>
          </div>
        </div>
        <div class="panel panel-info" id="DirectInjectionPanel">
          <div class="panel-heading">
            <h3 class="panel-title">Direct Injection</h3>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body" style="display: block;">
            <div class="form-group">
              <label class="control-label" for="DI_Solvent">Solvent</label>
              <div>
                <input id="DI_Solvent" name="DI_Solvent" type="text" placeholder="" {% if param.DI_Solvent %}
                  value={{param.DI_Solvent}} {% endif %} class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info" id="ChromatographyPanel">
          <div class="panel-heading">
            <h3 class="panel-title">Chromatography (LC/GC)</h3>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body" style="display: block;">
            <div class="form-group">
              <label class="control-label" for="ChromatoSys_Ref">Chromatographic system reference</label>
              <div>
                <input id="ChromatoSys_Ref" name="ChromatoSys_Ref" type="text" placeholder=""
                  {% if param.ChromatoSys_Ref %} value={{param.ChromatoSys_Ref}} {% endif %}
                  class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="Column_Construct">Constructor name for separation column</label>
              <div>
                <input id="Column_Construct" name="Column_Construct" type="text" placeholder="constructorA"
                  {% if param.Column_Construct %} value={{param.Column_Construct}} {% endif %}
                  class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="Column_Ref">Separation column reference</label>
              <div>
                <input id="Column_Ref" name="Column_Ref" type="text" placeholder="RefB" {% if param.Column_Ref %}
                  value={{param.Column_Ref}} {% endif %} class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="Chromato_Solvents">Solvents</label>
              <div>
                <input id="Chromato_Solvents" name="Chromato_Solvents" type="text" placeholder=""
                  {% if param.Chromato_Solvents %} value={{param.Chromato_Solvents}} {% endif %}
                  class="form-control input-md">
                <span class="help-block">Separated by commas.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="Chromato_Method_Filename">Filename/Path of the chromatographic
                method</label>
              <div>
                <input id="Chromato_Method_Filename" name="Chromato_Method_Filename" type="text" placeholder=""
                  {% if param.Chromato_Method_Filename %} value={{param.Chromato_Method_Filename}} {% endif %}
                  class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info" id="ImagingPanel">
          <div class="panel-heading">
            <h3 class="panel-title">Imaging</h3>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body" style="display: block;">
            <div class="form-group">
              <label class="control-label" for="Lateral_Resol">Lateral Resolution</label>
              <div>
                <input id="Lateral_Resol" name="Lateral_Resol" type="number" step=any placeholder="1"
                  {% if param.Lateral_Resol %} value={{param.Lateral_Resol}} {% endif %} class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="Spot_Size">Spot laser size</label>
              <div>
                <input id="Spot_Size" name="Spot_Size" type="number" step=any placeholder="1"
                  class="form-control input-md" {% if param.Spot_Size %} value={{param.Spot_Size}} {% endif %}>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="Spots_Dist">Spots distance</label>
              <div>
                <input id="Spots_Dist" name="Spots_Dist" type="number" step=any placeholder="1"
                  {% if param.Spots_Dist %} value={{param.Spots_Dist}} {% endif %} class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info" id="CLIOPanel">
          <div class="panel-heading">
            <h3 class="panel-title">CLIO Laser</h3>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body" style="display: block;">
            <div class="form-group">
              <label class="control-label" for="Wavelength_Func">&lambda; = f(t)</label>
              <div>
                <input id="Wavelength_Func" name="Wavelength_Func" type="text" placeholder="a+bt"
                  {% if param.Wavelength_Func %} value={{param.Wavelength_Func}} {% endif %}
                  class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="CLIO_calib_file">CLIO Calibration Filename</label>
              <div>
                <input id="CLIO_calib_file" name="CLIO_calib_file" type="text" placeholder="/path/to/myfile.ext"
                  {% if param.CLIO_calib_file %} value={{param.CLIO_calib_file}} {% endif %}
                  class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info" id="2DMSPanel">
          <div class="panel-heading">
            <h3 class="panel-title">2D-MS</h3>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body" style="display: block;">
            <div class="form-group">
              <label class="control-label" for="TwoD_Method">Method used</label>
              <div>
                <input id="TwoD_Method" name="TwoD_Method" type="text" class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="TwoD_Exc_Pulses">Frequency range of the excitation pulses (Hz)</label>
              <div>
                <input id="TwoD_Exc_Pulses" name="TwoD_Exc_Pulses" type="text" placeholder="460655, 263228"
                  {% if param.TwoD_Exc_Pulses %} value={{param.TwoD_Exc_Pulses}} {% endif %}
                  class="form-control input-md">
                <span class="help-block">Separate beginning and end with comma.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="TwoD_Nf_meas">Nyquist Frequency Nf used for measurements (Hz)</label>
              <div>
                <input id="TwoD_Nf_meas" name="TwoD_Nf_meas" type="number" step=any placeholder="500000"
                  {% if param.TwoD_Nf_meas %} value={{param.TwoD_Nf_meas}} {% endif %} class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="TwoD_Obs_Pulse">Frequency range of the observed pulse (Hz)</label>
              <div>
                <input id="TwoD_Obs_Pulse" name="TwoD_Obs_Pulse" type="text" placeholder="1250095, 61418"
                  {% if param.TwoD_Obs_Pulse %} value={{param.TwoD_Obs_Pulse}} {% endif %}
                  class="form-control input-md">
                <span class="help-block">Separate beginning and end with comma.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="TwoD_NUS_Delay_file">NUS Delay list filename</label>
              <div>
                <input id="TwoD_NUS_Delay_file" name="TwoD_NUS_Delay_file" type="text"
                  {% if param.TwoD_NUS_Delay_file %} value={{param.TwoD_NUS_Delay_file}} {% endif %}
                  class="form-control input-md">
                <span class="help-block"></span>
              </div>
            </div>
          </div>
        </div>
        <H3><U><strong>3. Experimental</strong></U></H3>
        <p><i>Import a Bruker Folder (top of the page) to autofill some field in this part.</i></p>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Spectrometer</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body" style="display: block;">
            <div class="form-group">
              <label class="control-label required" for="SpectrometerType">Spectrometer Type?</label>
              <div>
                <div class="radio-inline">
                  <label for="SpectrometerType-0">
                    <input type="radio" name="SpectrometerType" id="Solarix" required value="Solarix"
                      {% if "Solarix"==param.SpectrometerType %} checked="checked" {% endif %}>
                    Solarix
                  </label>
                </div>
                <div class="radio-inline">
                  <label for="SpectrometerType-1">
                    <input type="radio" name="SpectrometerType" id="Apex" required value="Apex"
                      {% if "Apex"==param.SpectrometerType %} checked="checked" {% endif %}>
                    Apex
                  </label>
                </div>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label required" for="Spectro_Source">Source?</label>
              <div>
                <div class="radio">
                  <label for="Spectro_Source-1">
                    <input type="radio" name="Spectro_Source" id="Spectro_Source-1" value="ESI"
                      {% if "ESI"==param.Spectro_Source %} checked="checked" {% endif %} required>
                    ESI
                  </label>
                </div>
                <div class="radio">
                  <label for="Spectro_Source-1bis">
                    <input type="radio" name="Spectro_Source" id="Spectro_Source-1bis" value="NanoESI"
                      {% if "NanoESI"==param.Spectro_Source %} checked="checked" {% endif %} required>
                    NanoESI
                  </label>
                </div>
                <div class="radio">
                  <label for="Spectro_Source-2">
                    <input type="radio" name="Spectro_Source" id="Spectro_Source-2" value="MALDI"
                      {% if "MALDI"==param.Spectro_Source %} checked="checked" {% endif %} required>
                    MALDI
                  </label>
                </div>
                <div class="radio">
                  <label for="Spectro_Source-3">
                    <input type="radio" name="Spectro_Source" id="Spectro_Source-3" value="APCI"
                      {% if "APCI"==param.Spectro_Source %} checked="checked" {% endif %} required>
                    APCI
                  </label>
                </div>
                <div class="radio">
                  <label for="Spectro_Source-4">
                    <input type="radio" name="Spectro_Source" id="Spectro_Source-4" value="APLI"
                      {% if "APLI"==param.Spectro_Source %} checked="checked" {% endif %} required>
                    APLI
                  </label>
                </div>
                <div class="radio">
                  <label for="Spectro_Source-5">
                    <input type="radio" name="Spectro_Source" id="Spectro_Source-5" value="APPI"
                      {% if "APPI"==param.Spectro_Source %} checked="checked" {% endif %} required>
                    APPI
                  </label>
                </div>
                <span class="help-block"></span>
              </div>
            </div>
            <div id="ESI-container">
              <div class="form-group">
                <label class="control-label" for="ESIFlow">Flow?</label>
                <div>
                  <input id="ESIFlow" name="ESIFlow" type="number" step=any placeholder="" {% if param.ESIFlow %}
                    value={{param.ESIFlow}} {% endif %} class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="ESISprayShield">SprayShield?</label>
                <div>
                  <input id="ESISprayShield" name="ESISprayShield" type="number" step=any placeholder=""
                    {% if param.ESISprayShield %} value={{param.ESISprayShield}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="ESINeedleVoltage">Needle Voltage?</label>
                <div>
                  <input id="ESINeedleVoltage" name="ESINeedleVoltage" type="number" step=any placeholder=""
                    {% if param.ESINeedleVoltage %} value={{param.ESINeedleVoltage}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="ESICapillaryEntrance">Capillary Entrance?</label>
                <div>
                  <input id="ESICapillaryEntrance" name="ESICapillaryEntrance" type="number" step=any placeholder=""
                    {% if param.ESICapillaryEntrance %} value={{param.ESICapillaryEntrance}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="ESICapillaryExit">Capillary Exit?</label>
                <div>
                  <input id="ESICapillaryExit" name="ESICapillaryExit" type="number" step=any placeholder=""
                    {% if param.ESICapillaryExit %} value={{param.ESICapillaryExit}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <div id="MALDI-container">
              <div class="form-group">
                <label class="control-label" for="MALDIMatrix">Matrix?</label>
                <div>
                  <input id="MALDIMatrix" name="MALDIMatrix" type="text" placeholder="" {% if param.MALDIMatrix %}
                    value={{param.MALDIMatrix}} {% endif %} class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="MALDILaserShots">Laser shots per scan?</label>
                <div>
                  <input id="MALDILaserShots" name="MALDILaserShots" type="number" step=any placeholder=""
                    {% if param.MALDILaserShots %} value={{param.MALDILaserShots}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="MALDIWavelength">Laser &lambda;? (nm)</label>
                <div>
                  <input id="MALDIWavelength" name="MALDIWavelength" type="number" step=any value="337"
                    {% if param.MALDIWavelength %} value={{param.MALDIWavelength}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <div id="APCI-container">
              <div class="form-group">
                <label class="control-label" for="APCINeedleVoltage">Needle Voltage?</label>
                <div>
                  <input id="APCINeedleVoltage" name="APCINeedleVoltage" type="number" step=any placeholder=""
                    {% if param.APCINeedleVoltage %} value={{param.APCINeedleVoltage}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <div id="APLI-container">
              <div class="form-group">
                <label class="control-label" for="APLILaserShots">Laser shots per scan?</label>
                <div>
                  <input id="APLILaserShots" name="APLILaserShots" type="number" step=any placeholder=""
                    {% if param.APLILaserShots %} value={{param.APLILaserShots}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="APLIWavelength">Laser &lambda;? (nm)</label>
                <div>
                  <input id="APLIWavelength" name="APLIWavelength" type="number" step=any value="337"
                    {% if param.APLIWavelength %} value={{param.APLIWavelength}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <div id="APPI-container">
              <div class="form-group">
                <label class="control-label" for="APPILamp">Lamp?</label>
                <div>
                  <input id="APPILamp" name="APPILamp" type="text" placeholder="N2 Lamp" {% if param.APPILamp %}
                    value={{param.APPILamp}} {% endif %} class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="APPIWavelength">Laser &lambda;? (nm)</label>
                <div>
                  <input id="APPIWavelength" name="APPIWavelength" type="number" step=any value="337"
                    {% if param.APPIWavelength %} value={{param.APPIWavelength}} {% endif %}
                    class="form-control input-md">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label required" for="MagneticB0">MagneticB0</label>
              <div>
                <input id="MagneticB0" name="MagneticB0" type="number" step=any placeholder=""
                  class="form-control input-md" {% if param.MagneticB0 %} value={{param.MagneticB0}}
                  {% endif %}required>
                <span class="help-block">Magnetic Field Value (automatically calculated with ML3 if .d imported).</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Acquisition</h3>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
          </div>
          <div class="panel-body" style="display: none;">
            <div class="form-group">
              <label for="AcqDate" class="col-2 col-form-label">Acquisition Date</label>
              <div>
                <input class="form-control" name="AcqDate" id="AcqDate" type="date" data-date-format="DD-MM-YYYY" placeholder="DD-MM-YYYY"
                  {% if param.AcqDate %} value={{param.AcqDate}} {% endif %} id="AcqDate">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="ExcHighMass">ExcHighMass</label>
              <div>
                <input id="ExcHighMass" name="ExcHighMass" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.ExcHighMass}}>
                <span class="help-block">There will be help here!</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="ExcLowMass">ExcLowMass</label>
              <div>
                <input id="ExcLowMass" name="ExcLowMass" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.ExcLowMass}}>
                <span class="help-block">There will be help here!</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="SpectralWidth">SpectralWidth</label>
              <div>
                <input id="SpectralWidth" name="SpectralWidth" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.SpectralWidth}}>
                <span class="help-block">Spectral Width (Hz)</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="AcqSize">AcqSize</label>
              <div>
                <input id="AcqSize" name="AcqSize" type="number" step=any placeholder="" class="form-control input-md"
                  value={{param.AcqSize}}>
                <span class="help-block">Data Size</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="CalibrationA">CalibrationA</label>
              <div>
                <input id="CalibrationA" name="CalibrationA" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.CalibrationA}}>
                <span class="help-block">1st Calibration Parameter</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="CalibrationB">CalibrationB</label>
              <div>
                <input id="CalibrationB" name="CalibrationB" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.CalibrationB}}>
                <span class="help-block">2nd Calibration Parameter</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="CalibrationC">CalibrationC</label>
              <div>
                <input id="CalibrationC" name="CalibrationC" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.CalibrationC}}>
                <span class="help-block">3d Calibration Parameter (Optional: if 0, 2 parameters mode)</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="PulseProgam">PulseProgam</label>
              <div>
                <input id="PulseProgam" name="PulseProgam" type="text" placeholder="" class="form-control input-md"
                  value={{param.PulseProgam}}>
                <span class="help-block">Name of Pulse Sequence</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="ExcNumberSteps">ExcNumberSteps</label>
              <div>
                <input id="ExcNumberSteps" name="ExcNumberSteps" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.ExcNumberSteps}}>
                <span class="help-block">This is only for <strong>Solarix</strong> experiments.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="ExcSweepFirst">1st ExciteSweep</label>
              <div>
                <input id="ExcSweepFirst" name="ExcSweepFirst" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.ExcSweepFirst}}>
                <span class="help-block">This is only for <strong>Solarix</strong> experiments.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="ExcSweepLast">Last ExciteSweep</label>
              <div>
                <input id="ExcSweepLast" name="ExcSweepLast" type="number" step=any placeholder=""
                  class="form-control input-md" value={{param.ExcSweepLast}}>
                <span class="help-block">This is only for <strong>Solarix</strong> experiments.</span>
              </div>
            </div>
          </div>
        </div>
        <H3><U><strong>4. Raw Data Preprocessing</strong></U></H3>
        <div class="form-group">
          <label for="RawPreprocess">Enter here information about any raw data preprocessing which took place.</label>
          <textarea class="form-control" id="RawPreprocess" name="RawPreprocess" rows="3" {% if param.RawPreprocess %}
            value={{param.RawPreprocess}} {% endif %}></textarea>
          <span class="help-block">Please, be as precise as possible.</span>
        </div>
        <h3><u><strong>5. Additional Comments</strong></u></h3>
        <div class="form-group">
          <label for="Comment">Comment</label>
          <textarea class="form-control" id="Comment" name="Comment" rows="3" {% if param.Comment %}
            value={{param.Comment}} {% endif %}></textarea>
          <span class="help-block">Feel free to insert here any additional comment you want to be present within the
            metadata file.</span>
        </div>
      </div>
      <div class="form-group col-md-12 col-12">
        <button name="submit"
          style="text-align: center;border-bottom-width:4px;border-bottom-color:#89c8e2;border-bottom-style:solid;display:block;margin:0 auto"
          type=submit class="btn btn-success">Generate the metadata file</button>
      </div>
    </form>
  </div>
</div>

<script src='{{url_for("metadata.static",filename="js/FormRepo.js")}}'></script>
<script>
  var $form = $('#input')
    , $output = $('#output')
    , repo = new FormRepo('restclient')
    ;

  // get the last submitted values back
  repo.restore($form/*, $form.attr('id')*/); // don't necessarily need an identifier

  $form.submit(function (e) {
    // preserve the last submitted values
    repo.preserve($form/*, $form.attr('id')*/); // don't necessarily need an identifier
  });

  // console.log(repo.all());
</script>
<script>
  $('#BSbtndanger').filestyle({
    buttonName: 'btn-danger',
    buttonText: ' File selection'
  });
  $('#BSbtnsuccess').filestyle({
    buttonName: 'btn-success',
    buttonText: ' Open'
  });
  $('#BSbtninfo').filestyle({
    buttonName: 'btn-info',
    buttonText: ' Select a Folder'
  });
  window.pressed = function () {
    var a = document.getElementById('filepicker');
    if (a.value == "") {
      fileLabel.innerHTML = "No file chosen";
    }
    else {
      var theSplit = "Files were picked, please confirm the import:";
      fileLabel.innerHTML = theSplit;
    }
  };
  $(document).ready(function () {
    $("#ESI-container").hide();
    $("#MALDI-container").hide();
    $("#APPI-container").hide();
    $("#APCI-container").hide();
    $("#APLI-container").hide();
    $("#Spectro_Source-1").click(function () {
      $("#ESI-container").show();
      $("#MALDI-container").hide();
      $("#APPI-container").hide();
      $("#APCI-container").hide();
      $("#APLI-container").hide();
    });
    $("#Spectro_Source-1bis").click(function () {
      $("#ESI-container").show();
      $("#MALDI-container").hide();
      $("#APPI-container").hide();
      $("#APCI-container").hide();
      $("#APLI-container").hide();
    });
    $("#Spectro_Source-2").click(function () {
      $("#ESI-container").hide();
      $("#MALDI-container").show();
      $("#APPI-container").hide();
      $("#APCI-container").hide();
      $("#APLI-container").hide();
    });
    $("#Spectro_Source-3").click(function () {
      $("#ESI-container").hide();
      $("#MALDI-container").hide();
      $("#APPI-container").hide();
      $("#APCI-container").show();
      $("#APLI-container").hide();
    });
    $("#Spectro_Source-4").click(function () {
      $("#ESI-container").hide();
      $("#MALDI-container").hide();
      $("#APPI-container").hide();
      $("#APCI-container").hide();
      $("#APLI-container").show();
    });
    $("#Spectro_Source-5").click(function () {
      $("#ESI-container").hide();
      $("#MALDI-container").hide();
      $("#APPI-container").show();
      $("#APCI-container").hide();
      $("#APLI-container").hide();
    });
  });
  $(document).ready(function () {
    $("#DirectInjectionPanel").hide();
    $("#ChromatographyPanel").hide();
    $("#ImagingPanel").hide();
    $("#CLIOPanel").hide();
    $("#2DMSPanel").hide();
    $("#DirectInjection").click(function () {
      $("#DirectInjectionPanel").show();
      $("#ChromatographyPanel").hide();
      $("#ImagingPanel").hide();
      $("#CLIOPanel").hide();
      $("#2DMSPanel").hide();
    });
    $("#Chromatography").click(function () {
      $("#DirectInjectionPanel").hide();
      $("#ChromatographyPanel").show();
      $("#ImagingPanel").hide();
      $("#CLIOPanel").hide();
      $("#2DMSPanel").hide();
    });
    $("#Imaging").click(function () {
      $("#DirectInjectionPanel").hide();
      $("#ChromatographyPanel").hide();
      $("#ImagingPanel").show();
      $("#CLIOPanel").hide();
      $("#2DMSPanel").hide();
    });
    $("#CLIO").click(function () {
      $("#DirectInjectionPanel").hide();
      $("#ChromatographyPanel").hide();
      $("#ImagingPanel").hide();
      $("#CLIOPanel").show();
      $("#2DMSPanel").hide();
    });
    $("#2DMS").click(function () {
      $("#DirectInjectionPanel").hide();
      $("#ChromatographyPanel").hide();
      $("#ImagingPanel").hide();
      $("#CLIOPanel").hide();
      $("#2DMSPanel").show();
    });
  });
  document.getElementById('markdown').innerHTML = marked(document.getElementById('text').value); 
</script>
{% endblock content %}