src/instance/config.py
*__pycache__*
.fslckout
*.pyc
/.fossil-settings
EUFT_Spike
FTICR_DATA
app/eg_data.py
form_2D/static/.webassets-cache/
log.txt
form_2D/static/gen/
env/
app.sock
custom_seafileapi
form_2D/seafile_client/static/tmp