src/instance/config.py
db/password.txt
web/test.txt
db/test.txt
*__pycache__*
casc4de_site.fossil
.fslckout
*.pyc
/.fossil-settings
EUFT_Spike
.fslckout
FTICR_DATA
app/eg_data.py
app/casc4de/static/.webassets-cache/
.bashrc
app/log.txt
casc4de/static/gen/
casc4de/static/.webassets-cache/
