src/instance/config.py
*__pycache__*
.fslckout
*.pyc
/.fossil-settings
EUFT_Spike
FTICR_DATA
app/eg_data.py
form_2D/static/.webassets-cache/
*.txt
form_2D/static/gen/
env/
app.sock
custom_seafileapi
*tmp/
form_2D/seafile_client/static/tmp
libs/
.vscode/
