{% extends "metadata/layout.html" %}
{% block content %}
<div class="container not-home seafile-page">
    <h3>Directory: {{dir_name}}</h3>
    <div class="col-md-6">
        <ul class="list-group">
            {% for item in data %}
                <li class="">
                    <a class="hvr-sweep-to-right mscf_file" href="{{url_for('seafile_client.edit_mscf', file_full_path=item.full_path, repo_id=item.repo.id, parent_dir=item.parent_dir, config_filename=item.name)}}">Edit {{item.name}}</a>    
                    <a class='del_mscf_file' href="{{url_for('seafile_client.del_file', repo_id=item.repo.id, full_path=item.full_path)}}">Delete file</a>       
                </li>
            {% endfor %}
                <li class="">
                    <a class="hvr-sweep-to-right" href="{{url_for('seafile_client.edit_mscf', file_full_path='', repo_id=repo_id, parent_dir='/'+dir_name, config_filename='new.mscf')}}">create new</a>                
                </li>
        </ul>
    </div>
</div>
    
{% endblock content %}