{% extends "seafile_client/layout.html" %}
{% block content %}
<div class="container not-home seafile-page">
    <h3>Directory: {{dir_name}}</h3>
    <div class="col-md-6">
        <ul class="list-group">
            {% for item in data %}
                <li class="">
                    <a class="hvr-sweep-to-right" href="{{url_for('seafile_client.sub_dir', dir_fullpath=item.full_path, repo_id=item.repo.id, parent_dir=item.parent_dir, dir_name=item.name)}}">{{item.name}}</a>       
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
    
{% endblock content %}