{% extends "seafile_client/layout.html" %}
{% block content %}
<link href="{{url_for('seafile_client.static', filename = 'css/login.css')}}" rel="stylesheet">
<div class="row login-index" style="background: url({{url_for('seafile_client.static', filename='img/index.png')}})">
    
    <p style="margin:200px auto 0;text-align: center;font-weight: bold;font-size:40px;-webkit-text-stroke: 1px #fff;">Create/Edit 2D Config File</p>
    <div class="login-panel">
        <h1 class="login-panel-hd">Log in with your Seafile account</h1>
        <form method="POST" action="{{url_for('seafile_client.login')}}">        
            <input type="text" placeholder="Email" name="email" id="email" class="input name-input">
            <input type="password" placeholder="Password" name="password" id="password" class="input passwd-input">
            <button type="submit" class="submit">Log In</button>
        </form>
    </div>
</div>

{% endblock content%}

