{% extends "seafile_client/layout.html" %}
{% block content %}
<div class="container not-home seafile-page">
    <h3>Repository: {{repo_name}}</h3>
    <div class="col-md-6">
        <ul class="list-group">
            {% for item in data %}
            <li class="">
                <a class="hvr-sweep-to-right" href="{{url_for('seafile_client.dir_items', repo_id=item.repo.id, oid = item.id, dir_name = item.name, dir_fullpath=item.full_path, dir_path=item.path, parent_dir=item.parent_dir)}}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
    
{% endblock content %}