{% extends "seafile_client/layout.html" %}
{% block content %}
<script src="{{url_for('seafile_client.static', filename='js/sub_dir.js')}}"></script>
<div class="container not-home seafile-page">
    <h3>Directory: {{dir_name}}</h3>
    <div class="col-md-6">
        <ul class="list-group">
            {% for item in data %}
                <li class="">
                    <a class="hvr-sweep-to-right" href="{{url_for('seafile_client.edit_mscf', file_full_path=item.full_path, repo_id=item.repo.id, parent_dir=item.parent_dir, config_filename=item.name)}}">{{item.name}}</a>       
                    <button class="create_job"
                        job_email={{job_email}}
                        mscf_file={{item.name}}
                        job_name={{item.name}}
                        directory={{item.parent_dir}}
                        job_username={{job_username}}
                    >Create Job</button> 
                </li>
            {% endfor %}
                <li class="">
                    <a class="hvr-sweep-to-right" href="{{url_for('seafile_client.edit_mscf', file_full_path='', repo_id=repo_id, parent_dir=dir_fullpath, config_filename='new.mscf')}}">create new</a>                
                </li>
        </ul>
    </div>
</div>
    
{% endblock content %}