{% extends "main/layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('seafile_client.static', filename='css/style.css')}}">
<script src="{{url_for('seafile_client.static', filename='js/sub_dir.js')}}"></script>
<div class="seafile-page">
    <div class="seafile-container">
        <ul class="seafile-list">
            <h3>Directory: {{dir_name}}</h3>
            {% for item in data %}
                <li class="list-item">
                    <a class="hvr-sweep-to-right" href="{{url_for('seafile_client.edit_mscf', file_full_path=item.full_path, repo_id=item.repo.id, parent_dir=item.parent_dir, config_filename=item.name)}}">{{item.name}}</a>
                    <button class="mscf_item_btn handle_button btn btn-danger"
                        repo_id={{item.repo.id}}
                        full_path={{item.full_path}}
                        method="DELETE"
                    >Remove file</button>
                    <button class="mscf_item_btn create_job btn btn-success"
                        job_email={{job_email}}
                        mscf_file={{item.name}}
                        job_name={{item.name}}
                        directory={{item.parent_dir}}
                        job_username={{job_username}}
                    >Launch Job</button>
                </li>
            {% endfor %}
                <li class="list-item">
                    <a class="hvr-sweep-to-right" href="{{url_for('seafile_client.edit_mscf', file_full_path='', repo_id=repo_id, parent_dir=dir_fullpath, config_filename='new.mscf')}}">Create new</a>                
                </li>
        </ul>
    </div>
</div>
    
{% endblock content %}