a{
    font-size: 14px;
}
.logout-btn a, .login-btn a{
    color: #f8f9fa;
    display:table-cell;
    height:40px;
    background: #f59f00;
    border-width: 0;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.btn-danger, .btn-danger:hover{
    background-color: crimson;
}
.btn-danger:hover{
    background-color: #d43f3a;
}
.mscf-item{
    border-bottom: 1px dashed;
    padding-bottom: 10px;
}