a{
    font-size: 14px;
}
.logout-btn a, .login-btn a{
    color: #f8f9fa;
    display:table-cell;
    height:40px;
    background: #f59f00;
    border-width: 0;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.mscf_item_btn{
    display: block;
    float: right;
    margin: -40px 10px 0px;
    padding: 10px;
}
.btn-danger{
    background-color: crimson;
}
.btn-danger:hover{
    background-color: #d43f3a;
}
.btn-warning{
    background-color: #f0ad4e;
}
.btn-warning:hover{
    background-color: #eea236;
}
.btn-success{
    background-color: #449d44;
}
.btn-success:hover{
    background-color: #398439;
}
.mscf-item{
    border-bottom: 1px dashed;
    padding-bottom: 10px;
}