        <nav class="navbar footer">
            <div class="navbar-footer">
                <div class="footer-list">
                    <p class="navbar-text-center">
                        <strong>
                            <a href="http://www.casc4de.eu/" class="icon-link">
                                <img alt="Bootstrap Image Preview" src="{{url_for('seafile_client.static', filename = 'img/casc4de_logo_complete.png')}}"/>
                            </a>
                             | <a href="">Terms and conditions</a> | <a href="/contact"> Contact us </a></strong>
                        <br>
                    </p>
                </div>
                <ul class="footer-icons">
                    <li>
                        <a href="https://github.com/" class="icon-link">
                            <img alt="Bootstrap Image Preview" src="{{url_for('seafile_client.static', filename = 'img/bitbucketlogo.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/_casc4de_" class="icon-link">
                            <img src="{{url_for('seafile_client.static', filename = 'img/Twitter_Bird.png')}}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>