<html lang="fr-FR" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths js_active vc_desktop vc_transform vc_transform wf-opensans-n3-active wf-opensans-n4-active wf-active">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CASC4DE: Innovating Solutions to Accelerate your Research and Create New Value from your Results</title>
    <meta name="description" content="CASC4DE builds innovative hardware-enhanced capabilities and softwares to accelerate your research and extract hidden insights from your data flow." />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="http://www.casc4de.eu/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="CASC4DE: Innovating Solutions to Accelerate your Research and Create New Value from your Results" />
    <meta property="og:description" content="CASC4DE builds innovative hardware-enhanced capabilities and softwares to accelerate your research and extract hidden insights from your data flow." />
    <meta property="og:url" content="http://www.casc4de.eu/" />
    <meta property="og:site_name" content="Casc4de" />
    <meta property="article:modified_time" content="2020-03-26T09:37:26+00:00" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="769" />
    <meta property="og:image:height" content="769" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="CASC4DE: Innovating Solutions to Accelerate your Research and Create New Value from your Results" />
    <meta name="twitter:description" content="CASC4DE builds innovative hardware-enhanced capabilities and softwares to accelerate your research and extract hidden insights from your data flow." />
    <meta name="twitter:image" content="" />
    <meta name="twitter:creator" content="@_casc4de_" />
    <meta name="twitter:site" content="@_casc4de_" />
    
    {% assets "main_css_bundle" %}
    <link rel='stylesheet' href='{{ASSET_URL}}' media='all' />
    {% endassets %}

    {% assets "main_js_bundle" %}
    <script type='text/javascript' src='{{ASSET_URL}}'></script>
    {% endassets %}

</head>
<body>
    <!-- To push footer to page bottom -->
    <div id="globalWrapper">
        <!------header------>
        <div class="navbar-wrapper">
            <div class="container"
                style="padding-right: 0px !important; padding-left: 0px !important; margin-right: auto; margin-left: auto; width: auto !important;">
                <nav class="navbar navbar-inverse navbar-static-top"
                    style="background-color: #0A2B3D;padding-right: 0px !important; padding-left: 0px !important; margin-right: auto; margin-left: auto; width: auto !important; margin-bottom: 0px">
                    <div class="container" id="nav-container"
                        style="padding-right: 0px !important; padding-left: 0px !important; margin-right: auto; margin-left: auto; width: auto !important;">
                        <div class="col-md-3">
                            <p style="color:white;font-size: 11px" class="navbar-text">
                                <a href="/"><img alt="Bootstrap Image Preview"
                                        src="{{url_for('seafile_client.static', filename = 'img/eufticr_whitelogo.png')}}"
                                        style="width:auto;height:60px" /></a>
                            </p>
                            
                        </div>
                        <div class="col-md-9" style="text-align: center">
                            <p style="color:white;font-size: 11px" class="navbar-text">
                                <a></a>
                            </p>
                            {% if(session['seafile_token']) %}
                            <p class="btn-logout btn btn-danger"><a href='{{url_for("seafile_client.logout")}}'>Log out<i class='fa fa-plus'></i></a></p>
                            {% endif %}
                            <style>
                                .btn-logout{
                                    border:solid 1px #fff;
                                    text-align: center;
                                    padding: 10px;
                                    margin: 20px auto;
                                    float: right;
                                }
                                .btn-logout > a{
                                    color:#fff;
                                    font-size: 14px;
                                    display: inline-block
                                }
                            </style>
                        </div>
                    </div>
                </nav>
                <!-- The Bootstrap Modal (popup) -->
            </div><!-- /container -->
        </div>