/*
---------------------------------------
---------------- RESETS ---------------
---------------------------------------
*/
ul{
  list-style-type: none;
}
/*Visual composer*/
.vc_row.container {
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .wpb_row, .wpb_content_element {
    margin-bottom: 0!important;
  }
  /*Lightbox WP Colorbox*/
  #cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight,
  #cboxMiddleLeft, #cboxMiddleRight, #cboxClose, #cboxContent {
    background: none;
  }
  #cboxOverlay {
    background: rgba(19,90,164,0.95);
  }
  
  /*Bootstrap resets*/
  .navbar-nav>li>a {
      text-shadow: 0 1px 0 rgba(255,255,255,0.25); 
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
      box-shadow: none;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      background:none;
  }
  * {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    outline: none;
    border: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  /* form *, .btn, .btn:hover {
    -webkit-border-radius: 0!important;
       -moz-border-radius: 0!important;
            border-radius: 0!important;
    outline: none!important;
    border: none!important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  } */
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border:1px solid grey;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  /* input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    min-height:60px;
  } */
  
  
  .btn, .btn:hover {
    color:#fff;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  
    background:#278cc9;
  }
  .btn:hover {
    background:#0076a3;
  }
  .btn {
      font-weight: 700;
      padding: 12px 25px;
      font-size: 16px;
      text-shadow: none!important;
  }
  /* form .btn {
      color:#333!important;
  } */
  /*-----------------------------------
  BOOTSTRAP NO GUTTERS
  -----------------------------------*/
  .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  
  
  
  /*ADMIN*/
  body.admin-bar {
    margin-top:30px;
  }
  body.admin-bar header.site-header {
    top:30px;
  }
  body.admin-bar nav.offcanvas {
    top:110px;
  }
  
  header .social-links {
    padding-top: 25px;
  }
  header .social-links span {
    font-size:11px;
    text-transform:uppercase;
    line-height: 30px;
    color: #000;
    font-weight:700;
  }
  
  header .fa {
      margin-left:10px;
      width: 30px;
      height: 30px;
      border: 1px solid #000;
      color: #000;
      text-align: center;
      line-height: 30px;
  }
  
  @media only screen and (max-width : 768px) {
    header .social-links {
      float:none; width:100%; text-align:center; padding-top:12px;
    }
  }
  
  /*------------------------------------*\
      MAIN
  \*------------------------------------*/
  main {
    padding-bottom:30px;
  }
  .home main {
    padding-bottom:0;
  }
  
  /*Menu button*/
  .menu-button {
      position: relative;
      float: right;
      margin:0;
  }
  .menu-button .icon-bar {
      background-color: #888;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
  }
  .menu-button .icon-bar+.icon-bar {
      margin-top: 4px;
  }
  
  /*reset offcanvas menu default styles*/
  /*a.nav-expander {
       background: none;
       margin-left: 0;
       padding: 0;
       width: auto;
  }*/
  
  /*reset bootstrap default styles*/
  .navbar-brand {
      padding:0;
  }
  .navbar {
      min-height: 80px;
  }
  
  /*.container>.navbar-header {
      margin:0;
  }
  */
  /*offcanvas menu*/
  nav.offcanvas {
      top:80px;
  }
  header a.menu-button, header button.menu-button {
      width:50px; height:80px;
      margin:0;
      background: url(../img/icons/nav-expander.png) no-repeat center center;
      border:none;
  }
  
  @media only screen and (max-width : 768px) {
    header a.menu-button, header button.menu-button {
        float:right;
    }
  }
  @media only screen and (min-width : 768px) {
    header a.menu-button, header button.menu-button {
        float:none;
    }
  }
  
  header.desktop a.menu-button {
      left:320px;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:transparent;
  }
  
  /*colors*/
  /*
  dark cyan     #0a2b3d
  light grey 1  #f2f1f1
  sky blue      #2893ca
  */
  nav.offcanvas, .navbar-collapse {
    background:#0a2b3d;
  }
  nav.offcanvas {
    text-align:right;
  }
  ul.navbar-nav, ul.navbar-nav li:first-child {
    display:block; width:100%; text-align:right;
  }
  #nav-close {
    display:inline; padding-right: 10px; color: #b7d1e0;
  }
  ul.navbar-nav,
  ul.contact-link,
  ul.navbar-nav li,
  ul.contact-link li,
  ul.navbar-nav li a,
  ul.contact-link li a {
    margin:0; padding:0; display:block; width:100%; float:none; text-align:left;
  }
  ul.navbar-nav li,
  ul.contact-link li {
    padding: 10px 30px; background:transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  ul.navbar-nav li:hover,
  ul.contact-link li:hover {
    padding: 10px 30px; background:transparent; background:#2893ca!important;
  }
  ul.navbar-nav li a, ul.navbar-nav>li>a, ul.navbar-nav>li>a:hover, ul.navbar-nav>li>a:active, ul.navbar-nav>li>a:focus,
  ul.contact-link li a, ul.contact-link li a:hover, ul.contact-link li a:focus, ul.contact-link li a:active {
    text-shadow:none;
  }
  ul.navbar-nav li a, ul.navbar-nav>li>a, ul.navbar-nav>li>a:hover, ul.navbar-nav>li>a:active, ul.navbar-nav>li>a:focus,
  ul.contact-link li a, ul.contact-link li a:hover, ul.contact-link li a:focus, ul.contact-link li a:active {
    color:#b7d1e0!important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
  }
  ul.navbar-nav>li>a:hover, ul.navbar-nav>li>a:active, ul.navbar-nav>li>a:focus,
  ul.contact-link li a:hover, ul.contact-link li a:focus, ul.contact-link li a:active {
    color:#fff!important; outline:none;
  }
  ul.contact-link li a {
    border-top:1px solid #b7d1e0; padding:10px 0;
  }
  
  
  
  
  
  /*ul.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus,
  .contact-link a {
    outline:none; color:#b7d1e0!important; text-shadow:none; padding-left:0; display:block;
  }
  .navbar-default .navbar-nav>li,
  .contact-link li {
    display:block; padding-left:45px;
  }
  .navbar-nav>li>a, .contact-link a {
    padding-top:0; padding-bottom:0;
  }
  
  .contact-link {
    overflow:hidden;
  }
  .contact-link li a {
    display:block;
    border-top:1px solid #fff;
  }
  ul.contact-link, ul.contact-link li {
    margin:0; padding:0;
  }
  
  .navbar-default {
    border:none;
  }
  .offcanvas ul {
      display:block; width:100%;
  }
  .offcanvas ul li {
      border:none;
      margin-left: 0;
      padding: 12px;
      display:block; width:100%;
  }
  .offcanvas ul li.active {
      background:#fff;
  }*/
  .cas-grey-bg{
    background:#f2f1f1;
  }
  .cas-blue-bg{
    background:#2893ca;
  }
  .cas-blue-bg h2, .cas-blue-bg p {
    color:#fff;
  }
  .wpcf7-form ::-webkit-input-placeholder {
     color: #fff;
  }
  .wpcf7-form :-moz-placeholder { /* Firefox 18- */
     color: #fff;
  }
  .wpcf7-form ::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;
  }
  .wpcf7-form :-ms-input-placeholder {
     color: #fff;
  }
  .wpcf7-form .form-control {
    background:none; border:1px solid #fff!important;
  }
  .wpcf7-form label {
    display:none;
  }
  .wpcf7-form textarea {
    min-height:241px;
  }
  .wpcf7-form .wpcf7-submit {
    background:#fff; color:grey;
  }
  /* FIX : Bootstrap for Contact Form 7 */
  .wpcf7-form .wpcf7-form-control {
    background:none; border:1px solid #fff!important;
  }
  .wpcf7-form .wpcf7-form-control:not(.wpcf7-submit){
    width: 100%;
    padding: 1em;
  }
  .wpcf7-form .wpcf7-submit{
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    touch-action: manipulation;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: background;
    transition-timing-function: ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 0px;
  }
  .wpcf7-form textarea {
    min-height:250px;
  }
  span.wpcf7-not-valid-tip{
    color: #f5f5f5;
    font-size: 1em;
    display: block;
    background-color: #f16767;
    padding: 0.7em 1em;
  }
  div.wpcf7-response-output{
      background-color: #cff7cf;
      color: green;
      padding: 0.7em 1em;
  }
  /*Shortcode case_studies*/
  .news .piece-of-news {
    position:relative; height:180px; background:pink; padding:0;
  }
  .news .post-image, .case-studies .post-image {
    width:100%;
  }
  .news .post-image img, .case-studies .post-image img {
    width:100%; max-width:100%;
  }
  .news .post-image::before {
    content:""; position:absolute; left:0; top:0; width:100%; height:100%;
  }
  .news .post-info {
    width:100%; text-align:center; position:absolute; bottom:0;
    height: 80px; background-color: #fff;  
  }
  .news .post-info {
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  
    height:70px;
  }
  .news .post-image::before {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  
    background-color:rgba(0,0,0,0);
  }
  .news .piece-of-news:hover .post-info {
    height:80px;
  }
  .news .piece-of-news:hover .post-image::before {
    background-color:rgba(56,162,219,1);
  }
  .popup .wp-post-image {
    max-width:100%;
  }
  /*Shortcode publications*/
  .publications .publication {
  display:block;
  background:#EAEAEA;
  }
  .publications a.publication  {
  color:#000;
  }
  .publications a.publication .blue-bg {
  background-color:#0c5da1; width:100%; padding-left:50px;
  }
  .publications a.publication .blue-bg {
      background-image: url(../img/icons/caret-right.png);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 50px;
  }
  .publications a.publication .inner {
  background-color: #fff;
  padding: 15px;
  }
  .publications a.publication h3.publication-title {
  text-transform:uppercase; font-size:15px;
  }
  /*Lorsqu'il n'y a qu'une publication*/
  .publications .temp-publication {
    max-width:400px; margin:auto;
  }
  
  /*Shortcode canvas-three-js*/
  #canvas {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006fa8+1,010810+100 */
    background: #006fa8; /* Old browsers */
    background: -moz-linear-gradient(left,  #006fa8 1%, #010810 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#006fa8), color-stop(100%,#010810)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #006fa8 1%,#010810 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #006fa8 1%,#010810 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #006fa8 1%,#010810 100%); /* IE10+ */
    background: linear-gradient(to right,  #006fa8 1%,#010810 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fa8', endColorstr='#010810',GradientType=1 ); /* IE6-9 */
  
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow:hidden;
  }
  @media only screen and (max-width : 768px) {
    #canvas {
      height: auto;
    }
    #canvas .canvas-content {
      position:relative;
    }
    #canvas .canvas-scroll {
        display:none;
      }
    #canvas .canvas-content {
      padding-top: 20px; padding-bottom: 20px; margin-top: 131px !important;
    }
    #canvas .canvas-content img {
      display:inline-block; max-width:100px;
    }
  }
  @media only screen and (min-width : 768px) {
    #canvas {
      height: 600px;
    }
    #canvas .canvas-content {
      position:absolute;
    }
    #canvas .canvas-scroll {
      position:absolute;
      width:100%;
      height:600px;
      background:rgba(255,255,255,0.1);
      top:0; left:0;
      z-index:1000;
    }
    #canvas .canvas-content {
      padding-top: 50px; padding-bottom: 50px;
    }
    #canvas .canvas-content img {
      max-width:240px;
    }
  }
  
  #canvas canvas {
    z-index:-1;
  }
  #canvas .canvas-content {
    width:100%;
    margin-top: 80px;
  }
  #canvas .canvas-content h1, #canvas .canvas-content p {
    text-transform:uppercase;
    color:#fff;
  }
  
  /*helper classes*/
  .txt-center {
    text-align:center;
  }
  
  /*bubbles*/
  .bubbles .vc_col-sm-3 {
    text-align:center;
  }
  .bubbles .vc_col-sm-3 .wpb_text_column {
    width:100px; height:100px; line-height:100px; border-radius:50%; background:yellow; margin:auto;
  }
  .bubbles .vc_col-sm-3:nth-child(0) .wpb_text_column {
    background:#95ca59;
  }
  .bubbles .vc_col-sm-3:nth-child(1) .wpb_text_column {
    background:#43b9c9;
  }
  .bubbles .vc_col-sm-3:nth-child(2) .wpb_text_column {
    background:#1c2bb0;
  }
  .bubbles .vc_col-sm-3:nth-child(3) .wpb_text_column {
    background:#006064;
  }
  .bubbles .vc_col-sm-3:nth-child(4) .wpb_text_column {
    background:#95ca59;
  }
  .bubbles {
    padding-bottom:60px;
  }
  .bubbles img {
    width:130px;
  }
  
  .our-partners img {
  max-width:180px!important;
  }
  
  
  /*padding*/
  .our-solutions, .our-expertise, .your-benefits, .our-publications {
   padding-bottom:60px;
  }
  .your-benefits .btn-default {
   margin-top:20px;
  }
  .our-expertise img, .your-benefits img {
   padding-bottom:30px;
  }
  footer.footer {
    background:#fff; position:relative; clear:both;
  }
  footer .footer-top {
    position:relative; clear:both; height: 60px;
  }
  footer a.logo {
    display:block; margin-left:-20px;
  }
  footer a.logo {
    display:block; margin-left:-20px;
  }
  @media only screen and (max-width : 768px) {
    footer a.logo {
      margin-top:-37px;
    }
  }
  @media only screen and (min-width : 768px) {
    footer a.logo {
      margin-top:-50px;
    }
  }
  footer .footer-center {
    font-size:13px;
  }
  footer .footer-center a {
    color:#333;
  }
  footer .footer-center, footer .footer-right {
    padding-top:30px;
  }
  /*ancres*/
  .cas-anchor {
    width:100%; height:0px;
  }
  
  canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
  }
  .not-home{
    margin-top:30px;
    margin-bottom: 50px;
  }
.seafile-page li{
  margin: 10px 0
}
.seafile-page a{
  display:table-cell;
  height:40px;
  vertical-align: middle;
  padding:0 10px;
  width: 400px;
  border: 1px solid #f59f00;
  border-radius: 3px;
  box-sizing: border-box;
  color:  #333;
}
.hvr-sweep-to-right::before{
  background: #f59f00;
  color:#fff
}