html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover{
    text-decoration: none;
    color:#fff
}
#globalWrapper{
	height:100%;
}

.login-btn a{
    color: #f8f9fa;
    display:table-cell;
    height:40px;
    background: #f59f00;
    border-width: 0;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.btn-danger{
    background-color: crimson;
}
.btn-danger:hover{
    background-color: #d43f3a;
}
.btn-warning{
    background-color: #f0ad4e;
}
.btn-warning:hover{
    background-color: #eea236;
}
.btn-success{
    background-color: #449d44;
}
.btn-success:hover{
    background-color: #398439;
}