{% extends "seafile_client/layout.html" %}
{% block content %}
<link rel='stylesheet' id='' href='{{url_for("static", filename="css/errors_style.css")}}'media='all' />
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>There are errors</h2>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <p>Please double check your request</p>
        {% endif %}
        <a href="/">Go To Homepage</a>
    </div>
</div>
{% endblock content %}